button.button-reset.alerts-dlx-icon-preview-button.components-button,
button.button-reset.alerts-dlx-icon-preview-button.components-button:hover {
	margin: 0;
	padding: 0;
}
.template-material,
.template-chakra,
.template-bootstrap {
	margin-top: 1.5rem !important;
	margin-bottom: 1.5rem !important;
}